<h1>Contenido#galeria</h1>
<p> <%= stylesheet_link_tag %> </p><br>
<p> <%= javascript_include_tag %> </p><br>
<p> Esta pagina se traslada a la galeria la cual hay distintas fotos realizada por fotografos en distintos momnetos, tiene fotos de peliculas, flores, y artistas.</p>
<p> Lo cual hay varios estilos de fotografias y momentos que muestra la vida, labores y profesiones.